<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/forget-password.css}">
    <link rel="stylesheet" th:href="@{/css/loader.css}">



</head>

<body>

    <div id="global-loader" class="loader-overlay hidden">
        <div class="loader-card">
            <div class="spinner"></div>
            <p>Loading, please wait...</p>
        </div>
    </div>

    <div class="page-container">

        <div class="header-section">

            <div class="heading">
                <div class="logo-container">
                     <div class="section-icon">
                         <img th:src="@{/icons/building.svg}" alt="Building" class="section-icon-img">
                    </div>
                </div>
                <h1 th:text="${portalName}">Service Provider Portal</h1>

            </div>

            <p class="header-subtitle" style="padding-left: 15px;padding-top: 13px;">Reset your Password</p>
        </div>


        <div class="card">
            <div class="card-content">
                <h2>Reset Your Password</h2>
                <p>Enter your email address and we'll send you an email to reset your password</p>

                <form id="forgotForm">
                    <input type="email" id="email" name="email" placeholder="your.email@example.com" class="form-input"
                        required>

                    <div class="error-msg" id="emailError" style="display:none; color:#ef4444; font-size:13px;">
                        Please enter a valid email address
                    </div>

                    <button type="submit" class="btn-submit">Send Reset Link</button>
                </form>


                <a onclick="showLoader()" th:href="@{/}" class="back-link">← Back to Sign In</a>
            </div>
        </div>

         <div class="page-footer">
            <img th:src="@{/img/footer_logo.png}" alt="Portal Logo" class="footer-logo-img">
        </div>

    </div>

    <input type="hidden" id="portalUrl" th:value="${portalUrl}" />
    <script th:src="@{/js/forget-password.js}"></script>
    <script th:src="@{/js/sweetalert.js}"></script>
    <script th:src="@{/js/loader.js}"></script>

</body>

</html>